table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: url(https://c.tenor.com/A0BXWgBnrFUAAAAC/aesthetic.gif);
  color: rgb(22, 236, 37);
}

td,
th {
  
  text-align: left;
  padding: 10px;
  
  color: rgb(22, 236, 37);
}

tr:nth-child(even) {
  
  color: rgb(234, 246, 235);
}
